@function add-important-to-all-properties($map) {
    $new-map: ();

    @each $key, $value in $map {
        $new-properties: ();

        @each $property, $property-value in $value {
            $new-property-value: #{$property-value} !important;
            $new-properties: map-merge(
                $new-properties,
                (#{$property}: $new-property-value)
            );
        }

        $new-map: map-merge($new-map, (#{$key}: $new-properties));
    }

    @return $new-map;
}
